<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<string>Alabama</string>
	<key>02</key>
	<string>Alaska</string>
	<key>04</key>
	<string>Arizona</string>
	<key>05</key>
	<string>Arkansas</string>
	<key>06</key>
	<string>California</string>
	<key>08</key>
	<string>Colorado</string>
	<key>09</key>
	<string>Connecticut</string>
	<key>10</key>
	<string>Delaware</string>
	<key>11</key>
	<string>District of Columbia</string>
	<key>12</key>
	<string>Florida</string>
	<key>13</key>
	<string>Georgia</string>
	<key>15</key>
	<string>Hawaii</string>
	<key>16</key>
	<string>Idaho</string>
	<key>17</key>
	<string>Illinois</string>
	<key>18</key>
	<string>Indiana</string>
	<key>19</key>
	<string>Iowa</string>
	<key>20</key>
	<string>Kansas</string>
	<key>21</key>
	<string>Kentucky</string>
	<key>22</key>
	<string>Louisiana</string>
	<key>23</key>
	<string>Maine</string>
	<key>24</key>
	<string>Maryland</string>
	<key>25</key>
	<string>Massachusetts</string>
	<key>26</key>
	<string>Michigan</string>
	<key>27</key>
	<string>Minnesota</string>
	<key>28</key>
	<string>Mississippi</string>
	<key>29</key>
	<string>Missouri</string>
	<key>30</key>
	<string>Montana</string>
	<key>31</key>
	<string>Nebraska</string>
	<key>32</key>
	<string>Nevada</string>
	<key>33</key>
	<string>New Hampshire</string>
	<key>34</key>
	<string>New Jersey</string>
	<key>35</key>
	<string>New Mexico</string>
	<key>36</key>
	<string>New York</string>
	<key>37</key>
	<string>North Carolina</string>
	<key>38</key>
	<string>North Dakota</string>
	<key>39</key>
	<string>Ohio</string>
	<key>40</key>
	<string>Oklahoma</string>
	<key>41</key>
	<string>Oregon</string>
	<key>42</key>
	<string>Pennsylvania</string>
	<key>44</key>
	<string>Rhode Island</string>
	<key>45</key>
	<string>South Carolina</string>
	<key>46</key>
	<string>South Dakota</string>
	<key>47</key>
	<string>Tennessee</string>
	<key>48</key>
	<string>Texas</string>
	<key>49</key>
	<string>Utah</string>
	<key>50</key>
	<string>Vermont</string>
	<key>51</key>
	<string>Virginia</string>
	<key>53</key>
	<string>Washington</string>
	<key>54</key>
	<string>West Virginia</string>
	<key>55</key>
	<string>Wisconsin</string>
	<key>56</key>
	<string>Wyoming</string>
	<key>60</key>
	<string>American Samoa</string>
	<key>66</key>
	<string>Guam</string>
	<key>69</key>
	<string>Northern Mariana Islands</string>
	<key>72</key>
	<string>Puerto Rico</string>
	<key>74</key>
	<string>U.S. Minor Outlying Islands</string>
	<key>78</key>
	<string>U.S. Virgin Islands</string>
</dict>
</plist>
